extends ../layout

block content
  div.container
    div#header.row
      div.col-md-6
        h1#logo On the GoGo
      div#about.col-md-6
        div.text-center Staying connected to the important things in life.
    div.row
      div.col-md-6
        // Email login
        h2 Email
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Never miss another important email while flying...
          div#emails.panel-body
            form.form-horizontal(role='form')
              div.form-group
                label.col-sm-2.control-label(for='inputEmail1') Email
                div.col-sm-10
                  div.input-group
                    input#inputEmail1.form-control(value='Gogo3dprinter@gmail.com'
                                                   type='email',
                                                   placeholder="Enter email")
                    span#emailStatus.input-group-addon Enter your email
              div.form-group
                  label.col-sm-2.control-label(for='inputPassword1') Password
                  div.col-sm-10
                    input#inputPassword1.form-control(value='gogomail',
                                                      type='password',
                                                      placeholder='Password')
              div.form-group
                div.col-sm-offset-2.col-sm-10
                  button.btn.btn-info(type='submit') Submit

      div.col-md-6
        h2 RSS
        // Nav tabs
        ul.nav.nav-tabs
          li.active
            a(href='#wsj', data-toggle='tab') Wall Street Journal
          li
            a(href='#espn', data-toggle='tab') ESPN
          li
            a(href='#people', data-toggle='tab') People
          li
            a(href='#cnn', data-toggle='tab') CNN
          li
            a(href='#reuters', data-toggle='tab') Reuters

        // Tab panes
        div(class='tab-content')
          div.tab-pane.active#wsj
            | ...
          div.tab-pane#espn
            | ...
          div.tab-pane#people
            | ...
          div.tab-pane#cnn
            | ...
          div.tab-pane#reuters
            | ...
  // Modal
  div#buyModal.modal.fade(tabindex='-1',
                          role='dialog',
                          aria-labelledby='myModalLabel',
                          aria-hidden='true')
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          button.close(type='button',
                       data-dismiss='modal',
                       aria-hidden='true') &times;
          h4#myModalLabel.modal-title Insufficient funds
        div.modal-body
          | In order to browse this internet content you must purchase funds.
        div.modal-footer
          button.btn.btn-default(type='button',
                                 data-dismiss='modal') Close
          button.btn.btn-success(type='button') Buy Funds!
  if env === 'development'
    //-<!-- build:js dist/js/index.js -->
    script(src='/js/index.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/js/underscore.tap.js')
    script(src='/components/fastclick/lib/fastclick.js')
    script(src='/components/Verimail.js/src/verimail.jquery.js')
    script(src='/components/visibilityjs/lib/visibility.core.js')
    script(src='/components/visibilityjs/lib/visibility.fallback.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    //-<!-- endbuild -->
  else
    script(src='/js/index.js')

  script.
    $(function() {
      app();
    });
